{% extends 'base.html' %}
{% block content %}
<ul style="text-align:center;">

    <form action="" method="POST">
        {% csrf_token %}
        <p class="description">
            <br><br>Prime numbers are the best. <br>
            And because of that reason, I made 3, very useful calculators. Play with them, or not. How simple is
            that?</h5>
        </p>
        <br><br>
        <table style="width:100%">

            <tr>
                <td style="width: 30%"><a href="/calculators/divisors"><img style="width: 200px;"
                                                                            src="../static/divisors.jpg"></a></td>
                <td style="width: 30%"><a href="/calculators/primes"><img style="width: 200px;"
                                                                          src="../static/primes2.jpg"></a></td>
                <td style="width: 30%"><a href="/calculators/primes2"><img style="width: 200px;"
                                                                           src="../static/primes.jpg"></a></td>
            </tr>
        </table>


    </form>

    {% endblock %}
