{% extends 'base.html' %}
{% block content %}
<ul style="text-align:center;">

    <form action="" method="POST">
        {% csrf_token %}

            <h3>Is it a prime number?</h3>

        <br><br>
            {{ form2 }}

        <input type="submit" value="Is it a prime?">
             </br>
        <h5>It is a prime number</h5>


    </form>


         <br><br><br>
    <table style="width:100%">
            <tr>
                <td style="width: 50%"><a href="/calculators/divisors"><img style="width: 200px;" src="/static/divisors.jpg"></a></td>
                <td style="width: 50%"><a href="/calculators/primes2"><img style="width: 200px;" src="/static/primes2.jpg"></a></td>
            </tr>
        </table>




    </form>

    </form>
</ul>
{% endblock %}