{% extends 'base.html' %}
{% block content %}

 <table style="width:100%">
        <tr>
            <td style="width: 50%" align="left"><img style="width: 100%" src="../static/about1.png"></td>
            <td style="width: 50%; text-align:center;" ><h5>My practice</h5>
                    I believe in the system of Ashtanga Vinyasa Yoga.
                    I do my practice 5, 6 times a week, mostly at 6:00 AM. Sometimes it’s hard, sometimes it’s easy, but I do it anyway.
                    It is part of my daily routine. Ashtanga has a very strict of rules at its core,
                    and if sometimes I don’t follow them all, I always go back to it for its reliability.

                    I’ve practiced with few well-known, experienced teachers
                    and also with a couple of less famous, but nonetheless knowledgeable ones.
                    I’ve been to India three times, but to be honest I’ve learnt the most by being alone on my own mat,
                    and applying regularly what I learnt in these journeys.
            </td>
        </tr>
 </table>

<img style="width: 100%" src="../static/background2.png">
 <table style="width:100%">
        <tr>
            <td style="width: 33%" align="center"><img style="width: 100%" src="../static/rishikesh.jpg"></td>
            <td style="width: 33%; text-align:center;" ><h5>I am a yoga teacher</h5>
                    This is one of the fruits of my first trip to India, to Rishikesh - the world capital of yoga.
                    I've gotten way more than this document, but fortunately we, as humanity, haven't started giving diplomas for that ;)
            </td>
            <td style="width: 33%" align="center"><img style="width: 100%" src="../static/certificate.png"></td>
        </tr>
 </table>
 <table style="width:100%">
        <tr>
            <td style="width: 33%; text-align:center;" ><h5>Yoga classes</h5>
                    I teach in two places at that moment:
                    <br>- at Fraktal, every Thursday at 17:29
                    <br>- at Yoga Shala Reykjavik, on Wednesday at 18:29
                    <br>and every other Sunday at 10:29.
                    <br><br>Let me know if you are interested in attending the class, I will tell you the details.
           </td>
            <td style="width: 33%" align="center"><img style="width: 100%" src="../static/about2.jpg"></td>
            <td style="width: 33%; text-align:center;" ><h5>Private classes</h5>
                    Being in a yoga studio amongst others is not the taste of everyone,
                    I know it from experience. Private classes solve this issue.

                    I work pretty well with small groups and in one-to-one sessions.
                    I prefer to have time and space to give adjustments when they are needed,
                    and it is easier than with a big group of students.
            </td>
        </tr>
 </table>

{% endblock %}

style="width: 480px;"